* {
    box-sizing: border-box;
    margin: 0 0;
  }





  html{

    width: 100%;
    min-height: 100%;
    }
    
    
    body {
      width: 100%;
      min-height: 100vh;
      height:100%;
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    
    
    #root {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      
    }
    
 .root--fallback-background{
@media (max-width: 480px) {
    
        background: url(../images/background_mobile.jpg) no-repeat center center fixed;
        background-size: cover;
      }
    
    
    @media (min-width: 481px) and (max-width: 759px) {
     
        background: url(../images/background_small.jpg) no-repeat center center fixed;
        background-size: cover;
      }
    
    
    @media (min-width: 1601px) {
      
        background: url(../images/background.jpg) no-repeat center center fixed;
        background-size: cover;
      }
    
    
    @media (min-width: 760px) and (max-width: 1024px) {
    
        background: url(../images/background_tablet.jpg) no-repeat center center fixed;
        background-size: cover;
      }
    
    
    @media (min-width: 1025px) and (max-width: 1600px) {
    
        background: url(../images/background_desktop.jpg) no-repeat center center fixed;
        background-size: cover;
      }
    
    




 } 





.fade-in {
  animation: fadeIn ease-in-out 0.3s;
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }    










