.form {
    display: flex;
    position: relative;
    transition: all 0.1s ease-in-out;
    color: $color-dark-1;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    &--search {
        height: $form-height;
        border-radius: 4px;
        background-color: #f5f5f5;
        &:hover {
            // todo ten hover nie działa
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
        }
    }
    &--images {
        background-color: $form-images-color;
        border-radius: $form-height;
        width: 60%;
        margin: 0 auto;
        border: 1px solid #0000;
        height: 40px;
        &:hover {
            border: 1px solid #d1d1d1;
        }
        // &:focus-within {
        //     background-color: #f5f5f5 !important;
        // }
    }
    &__button--search {
        display: flex;
        align-items: center;
        border: none;
        padding: 0;
        background-color: initial;
        text-align: inherit;
        cursor: pointer;
    }
    &__svg {
        width: 20px;
        height: 20px;
        padding-left: 14px;
        box-sizing: initial;
        fill: #767676;
        transition: fill 0.1s ease-in-out;
        &:hover {
            fill: #111;
        }
    }
    &__input {
        padding-left: 14px;
        flex-grow: 1;
        width: 100%;
        background: none;
        border: none;
        // color: $color-dark-1;
        background-color: #f5f5f5;
        &:focus {
            background-color: #fff;
        }
    }
    &__button--reset {
        border-color: transparent;
        padding: 0;
        background-color: initial;
        text-align: inherit;
        cursor: pointer;
    }
    &__icon--reset {
        padding-right: 14px;
        padding-left: 14px;
        width: 20px;
        height: 20px;
        box-sizing: initial;
        fill: #767676;
        transition: fill 0.1s ease-in-out;
        &:hover {
            fill: #111;
        }
    }
}

.form_container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 144px;
    padding-bottom: 152px;
    max-width: 1320px;
    width: 90%;

    @include min480 {
        width: 480px;
    }

    @include min768 {
        width: 66.66667%;
    }

    @media only screen and (max-width: 480px) {
        padding-top: 80px;
        padding-bottom: 64px;
    }
}
