.modal-content {
    border-radius: 4%;
    background-color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(17, 17, 17);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 0;
    width: 100%;

    &__button-wrapper {
        flex-shrink: 0;
        padding: 4px;
        display: flex;

        &.right {
            float: right;
        }
    }

    &__button {
        color: #767676;
        background-color: #fff;
        height: 32px;
        padding: 0 11px;
        font-size: 14px;
        @include max479 {
            font-size: 12px;
        }
        line-height: 30px;
        display: inline-flex;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        transition: all 0.1s ease-in-out;
        text-align: center;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        fill: currentColor;

        &:disabled,
        &[disabled] {
            opacity: 0.34;
            cursor: default;
        }

        &:hover:enabled {
            color: #111;
            border-color: #767676;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        }
        &:hover:enabled svg {
            color: #111;
            border-color: #767676;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        }

        & span {
            margin-left: 6px;
        }
    }
    &__container {
        display: flex;
        height: 100%;
        overflow-y: scroll;
        padding-top: 16px;
    }
    &__arrow-button {
        padding-left: 22px;
        padding-right: 22px;
        pointer-events: auto;
        display: flex;
        padding-top: 40px;
        padding-bottom: 80px;
        background: none;
        border: none;

        @include min768 {
            padding-left: 44px;
            padding-right: 44px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    &__arrow-svg {
        width: 32px;
        height: 32px;
        fill: #d1d1d1;
        backface-visibility: hidden;
        visibility: hidden;
        &.visible {
            visibility: visible;
            cursor: pointer;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        padding: 9px 12px;
        background-color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &__footer {
        display: flex;
        align-items: center;
        padding: 9px 12px;
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &__aside {
        display: flex;
        align-items: center;
        &.left {
            left: 0;
        }
        &.rigt {
            right: 0;
        }
    }
    &__location {
        min-width: 0;
        flex-grow: 1;
        flex-basis: 200px;
        margin-right: auto;
        padding: 4px;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    &__header-author {
        min-width: 0;
        flex-grow: 1;
        flex-basis: 200px;
        margin-right: auto;
        padding: 4px;
        display: flex;

        &.footer {
            align-items: center;
            font-size: 12px;
        }

        & .author-data {
            display: inline-flex;
            align-items: center;
            max-width: 100%;

            &__image {
                display: block;
                border-radius: 50%;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.1);
                border-style: none;
                margin-right: 8px;
            }
            &__personal {
                min-width: 0;
                display: flex;
                flex-direction: column;
            }
            &__name {
                position: relative;
                display: inline-block;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.6;
                @include max479 {
                    font-size: 12px;
                }
            }
            &__twitter {
                position: relative;
                display: block;
                font-size: 11px;
                letter-spacing: 0.02em;
                line-height: 1.35;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-decoration: none;
                padding-left: 10px;
                &::before {
                    content: "@";
                    width: 2px;
                    position: absolute;
                    left: -1px;
                    bottom: 1px;
                }
            }
        }
    }
    &__image {
        margin: 0 auto;
        display: block;
        padding: 10px 16px;
        max-width: 100%;
    }
    &__icon {
        position: relative;
        top: -1px;
        width: 15px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        fill: currentColor;
        color: #767676;

        &--location {
            box-sizing: initial;
            height: 13px;
            width: 13px;
            fill: #c1c1c1;
            margin-right: 6px;
            margin-bottom: 1px;
            flex-shrink: 0;
        }
    }
    &__close {
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.1s ease-in-out;
        opacity: 0.8;
        fill: #fff;
        box-shadow: none;
        border: none;
        padding: 0;
        background-color: initial;
        margin-top: 8px;
        margin-left: 16px;
        z-index: 1000;
        cursor: pointer;

        & svg.close {
            display: block;
            width: 24px;
            height: 24px;
        }

        &:hover {
            opacity: 1;
            box-shadow: none;
        }
    }
}
