.search-text {
    color: white;
    font-weight: 400;
    line-height: 1.6;
    &--smaller {
        font-size: 13px;
        @include min480 {
            font-size: 15px;
        }
    }
    &--small {
        font-size: 13px;
        @include min480 {
            font-size: 15px;
        }
        @include min768 {
            font-size: 18px;
        }
    }
    &--dark {
        font-weight: 400;
        font-size: 18px;
        color: $color-dark-1;
    }
}

.search {
    margin-left: auto;
    margin-right: auto;
    padding-top: 144px;
    padding-bottom: 152px;
    max-width: 1320px;
    width: 90%;
    @include min480 {
        width: 480px;
    }
    @include min768 {
        width: 66.66667%;
    }
    @media only screen and (max-width: 480px) {
        padding-top: 80px;
        padding-bottom: 64px;
    }
    &__header {
        &--main {
            box-sizing: border-box;
            font-weight: 700;
            margin-bottom: 16px;
            margin-top: 0px;
            font-size: 28px;
            line-height: 1.25;
            color: white;
            @include min768 {
                font-size: 46px;
                line-height: 1.2;
            }
        }
        &--secondary {
            outline: none;
            margin-bottom: 0;
            margin-top: 8px;
            @extend .search-text;
            @extend .search-text--small;
            @include min768 {
                margin-top: 16px;
            }
        }
    }

    &__motto {
        @extend .search-text;
        @extend .search-text--small;
        margin-bottom: $search-space;
    }
    &__license {
        @extend .search-text;
        @extend .search-text--small;
        color: $color-license;
        transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
        -webkit-text-decoration-skip: ink;
        text-decoration-skip-ink: auto;
        &:hover {
            color: $color-search;
        }
    }
}
