* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media (max-width: 480px) {
  #root {
    background: url(../images/background_mobile.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

@media (min-width: 481px) and (max-width: 759px) {
  #root {
    background: url(../images/background_small.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

@media (min-width: 1601px) {
  #root {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  #root {
    background: url(../images/background_tablet.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  #root {
    background: url(../images/background_desktop.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

.search-text, .search__motto, .search__license {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-left: 0;
}

.search-text--dark {
  font-weight: 400;
  font-size: 18px;
  color: #111;
}

.search-list-item {
  list-style: none;
  display: inline;
  padding-left: 6px;
}

.search-list {
  margin-top: 24px;
  padding-left: 0;
}

.search-text--small, .search__motto, .search__license {
  font-size: 13px;
}

@media (min-width: 480px) {
  .search-text--small, .search__motto, .search__license {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .search-text--small, .search__motto, .search__license {
    font-size: 18px;
  }
}

.search-text--smaller, .select-top {
  font-size: 13px;
}

@media (min-width: 480px) {
  .search-text--smaller, .select-top {
    font-size: 15px;
  }
}

.search-text, .search__motto, .search__license {
  color: white;
  font-weight: 400px;
  line-height: 1.6;
}

.search__header {
  outline: none;
  margin-bottom: 0;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .search__header {
    margin-top: 16px;
  }
}

.search__motto {
  margin-bottom: 24px;
}

.search__license {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color .1s ease-in-out, opacity .1s ease-in-out;
  transition: color .1s ease-in-out, opacity .1s ease-in-out;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

.search__license:hover {
  color: white;
}

.search__unsplash {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 0px;
  font-size: 28px;
  line-height: 1.25;
}

@media (min-width: 768px) {
  .search__unsplash {
    font-size: 46px;
    line-height: 1.2;
  }
}

.search__background {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.38)), color-stop(3.5%, rgba(0, 0, 0, 0.38)), color-stop(7%, rgba(0, 0, 0, 0.379)), color-stop(10.35%, rgba(0, 0, 0, 0.377)), color-stop(13.85%, rgba(0, 0, 0, 0.375)), color-stop(17.35%, rgba(0, 0, 0, 0.372)), color-stop(20.85%, rgba(0, 0, 0, 0.369)), color-stop(24.35%, rgba(0, 0, 0, 0.366)), color-stop(27.85%, rgba(0, 0, 0, 0.364)), color-stop(31.35%, rgba(0, 0, 0, 0.361)), color-stop(34.85%, rgba(0, 0, 0, 0.358)), color-stop(38.35%, rgba(0, 0, 0, 0.355)), color-stop(41.85%, rgba(0, 0, 0, 0.353)), color-stop(45.35%, rgba(0, 0, 0, 0.351)), color-stop(48.85%, rgba(0, 0, 0, 0.35)), color-stop(52.35%, rgba(0, 0, 0, 0.353)), color-stop(55.85%, rgba(0, 0, 0, 0.36)), color-stop(59.35%, rgba(0, 0, 0, 0.371)), color-stop(62.85%, rgba(0, 0, 0, 0.385)), color-stop(66.35%, rgba(0, 0, 0, 0.402)), color-stop(69.85%, rgba(0, 0, 0, 0.42)), color-stop(73.35%, rgba(0, 0, 0, 0.44)), color-stop(76.85%, rgba(0, 0, 0, 0.46)), color-stop(80.35%, rgba(0, 0, 0, 0.48)), color-stop(83.85%, rgba(0, 0, 0, 0.498)), color-stop(87.35%, rgba(0, 0, 0, 0.515)), color-stop(90.85%, rgba(0, 0, 0, 0.529)), color-stop(94.35%, rgba(0, 0, 0, 0.54)), color-stop(97.85%, rgba(0, 0, 0, 0.547)), to(rgba(0, 0, 0, 0.55)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0, rgba(0, 0, 0, 0.38) 3.5%, rgba(0, 0, 0, 0.379) 7%, rgba(0, 0, 0, 0.377) 10.35%, rgba(0, 0, 0, 0.375) 13.85%, rgba(0, 0, 0, 0.372) 17.35%, rgba(0, 0, 0, 0.369) 20.85%, rgba(0, 0, 0, 0.366) 24.35%, rgba(0, 0, 0, 0.364) 27.85%, rgba(0, 0, 0, 0.361) 31.35%, rgba(0, 0, 0, 0.358) 34.85%, rgba(0, 0, 0, 0.355) 38.35%, rgba(0, 0, 0, 0.353) 41.85%, rgba(0, 0, 0, 0.351) 45.35%, rgba(0, 0, 0, 0.35) 48.85%, rgba(0, 0, 0, 0.353) 52.35%, rgba(0, 0, 0, 0.36) 55.85%, rgba(0, 0, 0, 0.371) 59.35%, rgba(0, 0, 0, 0.385) 62.85%, rgba(0, 0, 0, 0.402) 66.35%, rgba(0, 0, 0, 0.42) 69.85%, rgba(0, 0, 0, 0.44) 73.35%, rgba(0, 0, 0, 0.46) 76.85%, rgba(0, 0, 0, 0.48) 80.35%, rgba(0, 0, 0, 0.498) 83.85%, rgba(0, 0, 0, 0.515) 87.35%, rgba(0, 0, 0, 0.529) 90.85%, rgba(0, 0, 0, 0.54) 94.35%, rgba(0, 0, 0, 0.547) 97.85%, rgba(0, 0, 0, 0.55));
}

.form-images {
  background-color: #EEEEEE;
}

.form--images {
  background-color: #EEEEEE;
  border-radius: 54px;
  width: 60%;
  margin: 0 auto;
}

.form--search {
  border-radius: 4px;
  background-color: #f5f5f5;
}

.form {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.form:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}

.form__header {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  margin: .67em 0;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0;
  background-color: initial;
  text-align: inherit;
  cursor: pointer;
}

.form__svg {
  width: 20px;
  height: 20px;
  padding-left: 14px;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  fill: #767676;
  -webkit-transition: fill .1s ease-in-out;
  transition: fill .1s ease-in-out;
}

.form__span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.form_container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 144px;
  padding-bottom: 152px;
  max-width: 1320px;
  width: 90%;
}

@media (min-width: 480px) {
  .form_container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .form_container {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 480px) {
  .form_container {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}

.form__input {
  padding-left: 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  background: none;
  border: none;
  color: #111;
  outline: none;
}

.form__input-clear {
  border: none;
  padding: 0;
  background-color: initial;
  text-align: inherit;
  cursor: pointer;
}

.form__input-clear-svg {
  padding-right: 14px;
  padding-left: 14px;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  fill: #767676;
  -webkit-transition: fill .1s ease-in-out;
  transition: fill .1s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.background__picture {
  display: block;
  height: 100%;
  position: relative;
}

.background__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.38)), color-stop(3.5%, rgba(0, 0, 0, 0.38)), color-stop(7%, rgba(0, 0, 0, 0.379)), color-stop(10.35%, rgba(0, 0, 0, 0.377)), color-stop(13.85%, rgba(0, 0, 0, 0.375)), color-stop(17.35%, rgba(0, 0, 0, 0.372)), color-stop(20.85%, rgba(0, 0, 0, 0.369)), color-stop(24.35%, rgba(0, 0, 0, 0.366)), color-stop(27.85%, rgba(0, 0, 0, 0.364)), color-stop(31.35%, rgba(0, 0, 0, 0.361)), color-stop(34.85%, rgba(0, 0, 0, 0.358)), color-stop(38.35%, rgba(0, 0, 0, 0.355)), color-stop(41.85%, rgba(0, 0, 0, 0.353)), color-stop(45.35%, rgba(0, 0, 0, 0.351)), color-stop(48.85%, rgba(0, 0, 0, 0.35)), color-stop(52.35%, rgba(0, 0, 0, 0.353)), color-stop(55.85%, rgba(0, 0, 0, 0.36)), color-stop(59.35%, rgba(0, 0, 0, 0.371)), color-stop(62.85%, rgba(0, 0, 0, 0.385)), color-stop(66.35%, rgba(0, 0, 0, 0.402)), color-stop(69.85%, rgba(0, 0, 0, 0.42)), color-stop(73.35%, rgba(0, 0, 0, 0.44)), color-stop(76.85%, rgba(0, 0, 0, 0.46)), color-stop(80.35%, rgba(0, 0, 0, 0.48)), color-stop(83.85%, rgba(0, 0, 0, 0.498)), color-stop(87.35%, rgba(0, 0, 0, 0.515)), color-stop(90.85%, rgba(0, 0, 0, 0.529)), color-stop(94.35%, rgba(0, 0, 0, 0.54)), color-stop(97.85%, rgba(0, 0, 0, 0.547)), to(rgba(0, 0, 0, 0.55)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0, rgba(0, 0, 0, 0.38) 3.5%, rgba(0, 0, 0, 0.379) 7%, rgba(0, 0, 0, 0.377) 10.35%, rgba(0, 0, 0, 0.375) 13.85%, rgba(0, 0, 0, 0.372) 17.35%, rgba(0, 0, 0, 0.369) 20.85%, rgba(0, 0, 0, 0.366) 24.35%, rgba(0, 0, 0, 0.364) 27.85%, rgba(0, 0, 0, 0.361) 31.35%, rgba(0, 0, 0, 0.358) 34.85%, rgba(0, 0, 0, 0.355) 38.35%, rgba(0, 0, 0, 0.353) 41.85%, rgba(0, 0, 0, 0.351) 45.35%, rgba(0, 0, 0, 0.35) 48.85%, rgba(0, 0, 0, 0.353) 52.35%, rgba(0, 0, 0, 0.36) 55.85%, rgba(0, 0, 0, 0.371) 59.35%, rgba(0, 0, 0, 0.385) 62.85%, rgba(0, 0, 0, 0.402) 66.35%, rgba(0, 0, 0, 0.42) 69.85%, rgba(0, 0, 0, 0.44) 73.35%, rgba(0, 0, 0, 0.46) 76.85%, rgba(0, 0, 0, 0.48) 80.35%, rgba(0, 0, 0, 0.498) 83.85%, rgba(0, 0, 0, 0.515) 87.35%, rgba(0, 0, 0, 0.529) 90.85%, rgba(0, 0, 0, 0.54) 94.35%, rgba(0, 0, 0, 0.547) 97.85%, rgba(0, 0, 0, 0.55));
}

.background__image {
  font-family: "object-fit:cover";
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.images__background {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

.images__subject {
  width: 66.66667%;
  font-size: 46px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 0;
  color: #111;
}

@media (min-width: 768px) {
  .images__subject {
    width: 83.33333%;
  }
}

.images__header {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 72px;
  position: relative;
  padding-left: 12px;
}

@media (min-width: 768px) {
  .images__header {
    padding-top: 60px;
    padding-bottom: 72px;
  }
}

.fotos__container {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
}

.fotos__wrapper, .fotos__wrapper--form, .images-hints-wrapper {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.fotos__wrapper--form {
  padding-top: 12px;
}

.fotos__grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 24px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.fotos__box {
  padding-bottom: 24px;
}

.fotos__figure {
  margin: 0;
}

.fotos__image {
  margin-bottom: 6px;
  cursor: pointer;
}

.fotos__tag-wrapper {
  margin-left: -8px;
  margin-left: -8px;
}

.fotos__tag {
  background-color: #eee;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  text-transform: capitalize;
  line-height: 26px;
  height: 26px;
  display: inline-block;
  color: #767676;
}

.fotos__tag:hover {
  background-color: #e1e1e1;
  color: #111;
}

.selector-item {
  width: 300px;
}

.select-top {
  margin-top: 6px;
  height: 0;
  border: none;
}

.modalbody {
  border-radius: 4%;
  background-color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #111111;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  margin: auto;
  width: 100%;
}

.modalbody__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.modalbody__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalbody__aside.left {
  left: 0;
}

.modalbody__aside.right {
  right: 0;
}

.modalbody__arrow-box {
  padding-left: 22px;
  padding-right: 22px;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .modalbody__arrow-box {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.modalbody__arrow-svg {
  width: 32px;
  height: 32px;
  fill: #d1d1d1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.modalbody__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 12px;
  background-color: #fff;
}

.modalbody__header.footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modalbody__header-author {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin-right: auto;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalbody__header-author.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.modalbody__header-author .author-data {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.modalbody__image {
  margin: 0 auto;
  display: block;
  padding: 10px 16px;
  max-width: 100%;
}

.modalbody__header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalbody__header-face {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.modalbody__header-image {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  border-style: none;
}

.modalbody__header-name-twitter {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalbody__header-name {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.modalbody__header-twitter {
  display: block;
  font-size: 11px;
  letter-spacing: .02em;
  line-height: 1.35;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.icon-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-wrapper.right {
  float: right;
}

.icon-button, .images-hint {
  color: #767676;
  background-color: #fff;
  border-color: #d1d1d1;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  fill: currentColor;
}

.icon-button:hover, .images-hint:hover {
  color: #111;
  border-color: #767676;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.icon-button__text {
  margin-left: 6px;
}

.icon-svg {
  position: relative;
  top: -1px;
  width: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  fill: currentColor;
  color: #767676;
}

.icon-svg:hover {
  color: #111;
  border-color: #767676;
}

.footer__svg {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  height: 13px;
  width: 13px;
  fill: #c1c1c1;
  margin-right: 6px;
  margin-bottom: 1px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.modal-close__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 8px;
  margin-left: 8px;
  fill: #fff;
  z-index: 1000;
}

.modal-close__button {
  position: relative;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  opacity: .8;
  fill: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
  background-color: initial;
  text-align: inherit;
  cursor: pointer;
}

.modal-close__button:hover {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-close__svg {
  display: block;
  width: 24px;
  height: 24px;
}

.slideitem {
  display: inline;
}

.noHints {
  height: 54px;
  border-radius: 54px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
}

.images-hint {
  min-width: 120px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 4px 8px 4px;
}

.images-hints-wrapper {
  margin-top: 12px;
}
/*# sourceMappingURL=index copy.css.map */