* {
  box-sizing: border-box;
  margin: 0 0;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.withSpinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media (max-width: 480px) {
  .root--fallback-background {
    background: url(../assets/images/background_mobile.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
@media (min-width: 481px) and (max-width: 759px) {
  .root--fallback-background {
    background: url(../assets/images/background_small.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
@media (min-width: 1601px) {
  .root--fallback-background {
    background: url(../assets/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
@media (min-width: 760px) and (max-width: 1024px) {
  .root--fallback-background {
    background: url(../assets/images/background_tablet.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .root--fallback-background {
    background: url(../assets/images/background_desktop.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

.fade-in {
  animation: fadeIn ease-in-out 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

*:focus {
  outline: 2px ridge #0ca4f6;
  outline-offset: 1px;
  z-index: 2000;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.active {
  display: block !important;
}

.search-text, .trending, .search__license, .search__motto, .search__header--secondary {
  color: white;
  font-weight: 400;
  line-height: 1.6;
}
.search-text--smaller, .trending {
  font-size: 13px;
}
@media (min-width: 480px) {
  .search-text--smaller, .trending {
    font-size: 15px;
  }
}
.search-text--small, .search__license, .search__motto, .search__header--secondary {
  font-size: 13px;
}
@media (min-width: 480px) {
  .search-text--small, .search__license, .search__motto, .search__header--secondary {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .search-text--small, .search__license, .search__motto, .search__header--secondary {
    font-size: 18px;
  }
}
.search-text--dark {
  font-weight: 400;
  font-size: 18px;
  color: #111;
}

.search {
  margin-left: auto;
  margin-right: auto;
  padding-top: 144px;
  padding-bottom: 152px;
  max-width: 1320px;
  width: 90%;
}
@media (min-width: 480px) {
  .search {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .search {
    width: 66.66667%;
  }
}
@media only screen and (max-width: 480px) {
  .search {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}
.search__header--main {
  box-sizing: border-box;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 0px;
  font-size: 28px;
  line-height: 1.25;
  color: white;
}
@media (min-width: 768px) {
  .search__header--main {
    font-size: 46px;
    line-height: 1.2;
  }
}
.search__header--secondary {
  outline: none;
  margin-bottom: 0;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .search__header--secondary {
    margin-top: 16px;
  }
}
.search__motto {
  margin-bottom: 24px;
}
.search__license {
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
.search__license:hover {
  color: white;
}

.trending {
  padding-left: 0;
}
.trending__list {
  list-style: none;
  padding-left: 0;
  display: inline;
}
.trending__item {
  display: inline;
  padding-left: 6px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}
.trending__item:hover {
  color: white;
}
.trending__item:focus {
  color: white;
}
.trending__item--with-preceding-comma {
  position: relative;
  display: inline;
  padding-left: 8px;
}
.trending__item--with-preceding-comma::before {
  content: ", ";
  width: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.form {
  display: flex;
  position: relative;
  transition: all 0.1s ease-in-out;
  color: #111;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
.form--search {
  height: 54px;
  border-radius: 4px;
  background-color: #f5f5f5;
}
.form--search:hover {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}
.form--images {
  background-color: #eeeeee;
  border-radius: 54px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 40px;
}
.form--images:hover {
  border: 1px solid #d1d1d1;
}
.form__button--search {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background-color: initial;
  text-align: inherit;
  cursor: pointer;
}
.form__svg {
  width: 20px;
  height: 20px;
  padding-left: 14px;
  box-sizing: initial;
  fill: #767676;
  transition: fill 0.1s ease-in-out;
}
.form__svg:hover {
  fill: #111;
}
.form__input {
  padding-left: 14px;
  flex-grow: 1;
  width: 100%;
  background: none;
  border: none;
  background-color: #f5f5f5;
}
.form__input:focus {
  background-color: #fff;
}
.form__button--reset {
  border-color: transparent;
  padding: 0;
  background-color: initial;
  text-align: inherit;
  cursor: pointer;
}
.form__icon--reset {
  padding-right: 14px;
  padding-left: 14px;
  width: 20px;
  height: 20px;
  box-sizing: initial;
  fill: #767676;
  transition: fill 0.1s ease-in-out;
}
.form__icon--reset:hover {
  fill: #111;
}

.form_container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 144px;
  padding-bottom: 152px;
  max-width: 1320px;
  width: 90%;
}
@media (min-width: 480px) {
  .form_container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .form_container {
    width: 66.66667%;
  }
}
@media only screen and (max-width: 480px) {
  .form_container {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}

#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ECF0F1;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #F63D3A;
  animation-delay: -1s;
}

.load :nth-child(3) {
  background: #FDA543;
  animation-delay: -0.5s;
}

.load :last-child {
  background: #193B48;
}

@keyframes spin {
  0%, 100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
.modal-content {
  border-radius: 4%;
  background-color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(17, 17, 17);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 0;
  width: 100%;
}
.modal-content__button-wrapper {
  flex-shrink: 0;
  padding: 4px;
  display: flex;
}
.modal-content__button-wrapper.right {
  float: right;
}
.modal-content__button, .hint {
  color: #767676;
  background-color: #fff;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  display: inline-flex;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  transition: all 0.1s ease-in-out;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  fill: currentColor;
}
@media (max-width: 479px) {
  .modal-content__button, .hint {
    font-size: 12px;
  }
}
.modal-content__button:disabled, .hint:disabled, .modal-content__button[disabled], [disabled].hint {
  opacity: 0.34;
  cursor: default;
}
.modal-content__button:hover:enabled, .hint:hover:enabled {
  color: #111;
  border-color: #767676;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.modal-content__button:hover:enabled svg, .hint:hover:enabled svg {
  color: #111;
  border-color: #767676;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.modal-content__button span, .hint span {
  margin-left: 6px;
}
.modal-content__container {
  display: flex;
  height: 100%;
  overflow-y: scroll;
  padding-top: 16px;
}
.modal-content__arrow-button {
  padding-left: 22px;
  padding-right: 22px;
  pointer-events: auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 80px;
  background: none;
  border: none;
}
@media (min-width: 768px) {
  .modal-content__arrow-button {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.modal-content__arrow-svg {
  width: 32px;
  height: 32px;
  fill: #d1d1d1;
  backface-visibility: hidden;
  visibility: hidden;
}
.modal-content__arrow-svg.visible {
  visibility: visible;
  cursor: pointer;
}
.modal-content__header {
  display: flex;
  align-items: center;
  padding: 9px 12px;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.modal-content__footer {
  display: flex;
  align-items: center;
  padding: 9px 12px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.modal-content__aside {
  display: flex;
  align-items: center;
}
.modal-content__aside.left {
  left: 0;
}
.modal-content__aside.rigt {
  right: 0;
}
.modal-content__location {
  min-width: 0;
  flex-grow: 1;
  flex-basis: 200px;
  margin-right: auto;
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.modal-content__header-author {
  min-width: 0;
  flex-grow: 1;
  flex-basis: 200px;
  margin-right: auto;
  padding: 4px;
  display: flex;
}
.modal-content__header-author.footer {
  align-items: center;
  font-size: 12px;
}
.modal-content__header-author .author-data {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}
.modal-content__header-author .author-data__image {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  border-style: none;
  margin-right: 8px;
}
.modal-content__header-author .author-data__personal {
  min-width: 0;
  display: flex;
  flex-direction: column;
}
.modal-content__header-author .author-data__name {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
@media (max-width: 479px) {
  .modal-content__header-author .author-data__name {
    font-size: 12px;
  }
}
.modal-content__header-author .author-data__twitter {
  position: relative;
  display: block;
  font-size: 11px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  padding-left: 10px;
}
.modal-content__header-author .author-data__twitter::before {
  content: "@";
  width: 2px;
  position: absolute;
  left: -1px;
  bottom: 1px;
}
.modal-content__image {
  margin: 0 auto;
  display: block;
  padding: 10px 16px;
  max-width: 100%;
}
.modal-content__icon {
  position: relative;
  top: -1px;
  width: 15px;
  backface-visibility: hidden;
  fill: currentColor;
  color: #767676;
}
.modal-content__icon--location {
  box-sizing: initial;
  height: 13px;
  width: 13px;
  fill: #c1c1c1;
  margin-right: 6px;
  margin-bottom: 1px;
  flex-shrink: 0;
}
.modal-content__close {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.1s ease-in-out;
  opacity: 0.8;
  fill: #fff;
  box-shadow: none;
  border: none;
  padding: 0;
  background-color: initial;
  margin-top: 8px;
  margin-left: 16px;
  z-index: 1000;
  cursor: pointer;
}
.modal-content__close svg.close {
  display: block;
  width: 24px;
  height: 24px;
}
.modal-content__close:hover {
  opacity: 1;
  box-shadow: none;
}

.images {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
  display: none;
  -moz-columns: 1;
       columns: 1;
}
@media (min-width: 768px) {
  .images {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 992px) {
  .images {
    -moz-columns: 3;
         columns: 3;
  }
}
.images__item {
  padding-bottom: 24px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  visibility: hidden;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.images__item.visible {
  visibility: visible;
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}
@media (min-width: 768px) {
  .image {
    margin: 0 auto 6px auto;
  }
}

.hint {
  min-width: 120px;
  display: inline-block;
  margin: 0 8px 8px 0;
  cursor: pointer;
}
.hint:first-letter {
  text-transform: uppercase;
}

.no-hints-message, .no-hints-message--short {
  height: 54px;
  border-radius: 54px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
.no-hints-message--short {
  width: 60%;
  margin: 12px auto;
  background-color: #eeeeee;
}